include song-mixin

#wrapper.container-fluid(ng-controller="HomeCtrl")
	.row
		#menu.col-sm-3
			ul.nav.nav-pills.nav-stacked
				li
					a(scroll-to="#wrapper") settings
				li
					a(scroll-to="#remote") unsynced remote ({{ getCount("remoteOnly") }})
				li
					a(scroll-to="#local") unsynced local ({{ getCount("localOnly") }})
				li
					a(scroll-to="#synced") synced ({{ getCount("synced") }})

			div#syncButton
				button.btn.btn-default.btn-block(
					ng-click="sync()"
					ng-disabled="isSyncing || gettingList"
				) {{ isSyncing ? "Syncing…" : "Sync" }}
		#content.col-sm-9.col-sm-offset-3
			#settings
				div
					div.form-group
						label(for="localPath") Path to a local folder
						input.form-control#localPath(
							ng-model="localPath"
							ng-model-options="{ updateOn: 'blur' }"
							ng-disabled="isSyncing || gettingList"
						)
					div.checkbox
						label
							input(
								type="checkbox"
								ng-model="autoSync"
								ng-disabled="isSyncing || gettingList"
							)
							| Auto sync

			h1#remote unsynced remote ({{ getCount("remoteOnly") }})
			table.song-list
				+song("item in list | filter: isOfType('remoteOnly')")

			h1#local unsynced local ({{ getCount("localOnly") }})
			table.song-list
				+song("item in list | filter: isOfType('localOnly')")

			h1#synced synced ({{ getCount("synced") }})
			table.song-list
				+song("item in list | filter: isOfType('synced')")
