.container-fluid(ng-controller="TodoCtrl")
	h1
		span Todo
		small &emsp;{{ remainingCount() }} of {{ todos.length }} remaining

	table.table.table-striped.table-hover
		tr(
			ng-repeat="todo in todos"
			ng-class="{success: todo.done}"
			ng-click="todo.done = !todo.done"
		)
			td {{ $index }}. {{ todo.text }}

	form(ng-submit="addTodo()")
		.form-group
			.input-group
				span.input-group-btn
					a.btn(
						ng-class="areAnyTodosDone() ? 'btn-primary' :\
							'btn-default'"
						ng-click="archive()"
					) Archive done todos
				input.form-control(
					ng-model="newTodoText"
					placeholder="Add new todo"
				)
				span.input-group-btn
					button.btn.btn-default(type="submit") Add
